<section class="wrapper flex">
	<div class="inner">
		<% if params[:genre_id] %>
			<h2 class="section-ttl"><%= @genre.name %>の店舗一覧 (全<%= @all_shops_count %>件)</h2>
		<% else %>
			<h2 class="section-ttl">店舗一覧 (全<%= @all_shops_count %>件)</h2>
		<% end %>
	
		<% if @shops.first %> 
			<%= render 'index', shops: @shops %>
			<%= paginate @shops %>
		<% else %>
			<h3>対応する店舗はありませんでした。</h3>
		<% end %>
	</div>
</section>