<%= form_with model:shop,method: target, url: url do |f| %>
	<%= render 'layouts/error_messages', resource: @shop %>
<div class="flex">
	<div class="flex">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
					<h5 class="text-dark bg-light p-4 mb-0">店舗新規登録</h5>
						<div class="form-body p-4">
<form>
	
	<div><%= f.label :shop_name, "店舗名" %></div>
	<div><%= f.text_field :shop_name %></div>
				
	<div><%= f.label :address, "住所" %></div>
	<div><%= f.text_field :address %></div>
								
	<div><%= f.label :telephone_number, "電話番号" %></div>
	<div><%= f.text_field :telephone_number, placeholder: "09012345678" %> </div>
				
				
	<div><%= f.label :opening_time, "営業時間" %></div>
	<div><%= f.text_field :opening_time, placeholder: "11:00~15:00,17:00~21:00"  %></div>
				
				
				
	<div><%= f.label :holiday, "定休日" %></div>
	<div><%= f.text_field :holiday %></div>
		
	
	<div class="flex align-center pl5">
			<%= f.submit submit, class: "btn btn-primary mt-3" %>
	</div>
	
	
<% end %>
</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>