<%= form_with model:shop,method: target, url: url do |f| %>
	<%= render 'layouts/error_messages', resource: @shop %>
	<div class="flex">
		
		<table class="user_shop_info shop_form">
			<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= f.label :shop_name, "店舗名" %></td>
					<td><%= f.text_field :shop_name %></td>
				</tr>
				<tr>
					<td><%= f.label :address, "住所" %></td>
					<td><%= f.text_field :address %></td>
				</tr>
			
				<tr>
					<td><%= f.label :telephone_number, "電話番号" %></td>
					<td><%= f.text_field :telephone_number %> </td>
				</tr>
				<tr>
					<td><%= f.label :opening_time, "営業時間" %></td>
					<td><%= f.text_field :opening_time %> </td>
				</tr>
				
				<tr>
					<td><%= f.label :holiday, "定休日" %></td>
					<td><%= f.text_field :holiday %> </td>
				</tr>
				
			</tbody>
		</table>
		<div class="flex align-center pl5">
			<%= f.submit submit, class: "btn btn-primary" %>
		</div>
	</div>
<% end %>