<%= form_with model:@review, url: shop_reviews_path do |f| %>
	<%= render 'layouts/error_messages', resource: @review %>
	<div class="flex">

		<table class="user_review_info review_form">
			<thead>
				<tr>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= f.label :title, "タイトル" %></td>
					<td><%= f.text_field :title %></td>
				</tr>
				<tr>
					<td><%= f.label :eated_menu, "食べたメニュー" %></td>
					<td><%= f.text_field :eated_menu %></td>
				</tr>

				<tr>
					<td><%= f.label :comment, "コメント" %></td>
					<td><%= f.text_field :comment %> </td>
				</tr>
			</tbody>
		</table>
　　</div>
 	<div>
 	<!--ここからraty-->
	<div class="form-group row">
	    <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
	    <%= f.hidden_field :star, id: :review_star %>
	    <div id="star"></div>
　　</div>
  	<script>
		var elem = document.getElementById("star");
		var opt = {
		    size     : 36,
		    starOff:  '<%= asset_path('star-off.png') %>',
		    starOn : '<%= asset_path('star-on.png') %>',
		    scoreName: 'review[star]',
		    half: false,
		}

		raty(elem, opt);
  	</script>
   	<!--ここまで-->
 	</div>
	<div class="flex align-center pl5">
		<%= f.submit "投稿", class: "btn btn-primary" %>
	</div>
	</div>
<% end %>